Source: pogupdate
Maintainer: Penelope Gwen <support@pogmom.me>
Section: utils
Priority: standard
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: pogupdate
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: update apt, flatpak, and pipx packages quickly
